.visualize-section-wrapper {
  background-color: var(--bg-color-1);
  height: 100%;
}

.controls-section,
.visualize-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  gap: 0.5rem;
}

.visualize-section {
  background-color: var(--bg-color-2);
  @media screen and (max-width: 768px) {
    border-top-left-radius: 0;
  }
  border-top-left-radius: 1rem;
}

.controls-section {
  background-color: var(--bg-color-1);
  overflow: auto;
}

.controls-section-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--text-color);
}

.algorithm-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color);
}

.input-button {
  background-color: var(--bg-color-2);
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  padding: 1rem;
}

.input-button:hover {
  background-color: var(--bg-color-1);
  color: var(--text-color);
  cursor: pointer;
}

.draw-buttons-component {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-2);
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--text-color);
}

.buttons-container {
  display: flex;
  justify-content: left;
  gap: 1rem;
  width: 100%;
  padding-top: 0.5rem;
  overflow: auto;
}

.draw-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--bg-color-2);
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;

  min-width: 75px;
  min-height: 75px;

  text-transform: capitalize;
}

.draw-button:hover {
  background-color: var(--bg-color-1);
  cursor: pointer;
}

.draw-button.active {
  background-color: var(--bg-color-1);
}

/*THE FOLLOWING IS USED FOR THE DIFFERENT DRAW BUTTONS*/
#WALL {
  width: 25px;
  height: 25px;
  background-color: black;
}

#START {
  width: 25px;
  height: 25px;
  background-color: green;
}

#END {
  width: 25px;
  height: 25px;
  background-color: red;
}
