.controls-section,
.visualize-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.visualize-section {
  background-color: var(--bg-color-2);
  gap: 0.5rem;
}

.controls-section {
  background-color: var(--bg-color-1);
}

.algorithm-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color);
}
