.sorting-page {
}

.left,
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right {
  background-color: blue;
}

.left {
  background-color: red;
}

.right h1 {
  color: white;
  margin: 0;
}
