.nav-bar {
  background-color: var(--bg-color-1);
  justify-content: space-between;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  min-height: var(--nav-height);
  max-height: var(--nav-height);
}

.nav-bar a {
  text-decoration: none;
  color: var(--color-500);
  margin: 0 10px;
  font-weight: 900;
  padding: 0.25rem;
}

/* select any anchor that with the class active */
.nav-bar a.active {
  border: 1px solid var(--color-500);
}

.nav-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.my-logo {
  color: var(--color-500);
  user-select: none;
  margin: 0;
}

.nav-bar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 0.5rem;
}

.nav-bar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 0.5rem;
}
