.step-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.play-button {
  width: 25px;
  height: 25px;
}

.slider {
  display: flex;
  width: 100%;
}

.label {
  color: var(--text-color);
}
