.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: var(--text-color);
  font-size: 1rem;
}

.checkbox {
  margin-right: 0.5rem;
  transform: scale(1.5);
}
