.toggle {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color-2);
  border: 2px solid black;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: var(--text-color);
  font-size: 1rem;
  margin: 0.5rem;
}

.checkbox {
  margin: 1rem;
  transform: scale(1.5);
}
